{
	"printWidth": 80,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"proseWrap": "preserve",
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto",
	"plugins": [
		"prettier-plugin-svelte"
	],
	"svelteStrictMode": true
}
