body {
	--bg-color: #000;
	--color: #eee;
	font-family: Arial, sans-serif;
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
}

main {
	text-align: center;
	position: relative;
	padding: 1rem;
	width: 20rem;
	margin: 0 auto;
	color: var(--color);
}
